{% include './include/header.html' %}
{% load static %}


<section class="header">
    <div class="logo">
        <h1>G</h1><h1>o</h1><h1>l</h1><h1>d</h1><h1>e</h1><h1>n</h1>
        <h1>S</h1><h1>tore.</h1>
    </div>
    <div class="nav">
        <div class="links">
            <a href="{% url 'store:index' %}">Acceuil</a>
            {% if user.is_authenticated %}
                <a href="{% url 'account:logout' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'account:login' %}">Se connectez</a>
            {% endif %}
            <a href="{% url 'account:cont' %}">Contactez-Nous</a>
        </div>
        <div class="social_links">
            <a href="#"><img src="{% static 'onlineStore/icone/instagram.png' %}"></a>
            <a href="#"><img src="{% static 'onlineStore/icone/whatsapp.png' %}"></a>    
        </div>
        <div class="menu_list"></div>
    </div>
</section>

<section class="big">
    <h1>{{article.name}}</h1>
    <div class="article">
        <div class="image">
            {% if article.image %}
                <a href="{% url 'store:img' article.slug %}"><img src="{{article.image.url}}"></a>
            {% else %}
            {% endif %}
        </div>       
        <div class="block">
            <p>Prix: {{article.price}} XFOX</p>
            <p>Stock: {{article.quantity}}</p>
            <p>Categorie: {{article.category}}</p>
            <p>Livraison: {{article.livraison}}</p>    

            <p><a href="{% url 'store:ajout' article.id %}">Ajoutez au panier !!</a></p>
            <p>
                <a href="{% url 'store:index'%}#{{article.id}}">Retour</a>
            </p>
        </div>
    </div>    
    <p id="info">Description:</p>   
    <p id="info2">{{article.description}}</p>  <br>
            
</section>


{% include './include/end.html' %}
